* {
  overflow-x: hidden !important;
}

.navbar-brand {
  border-radius: 5px;
}

.navbar-brand span {
  font-family: 'Courier New', Courier, monospace;
}

.navbar-brand:hover {
  background-color: #f7b89b !important;
}

.navbar-brand:hover span {
  color: #333333;
}

.navbar-brand:focus {
  background-color: #f3976c;
}

/*--------------------------------------------------------------------------*/
button#nav-toggle {
  color: #000 !important;
  background-color: #f9c9b3 !important;
}

button#nav-toggle:hover {
  background-color: #f3976c !important;
}

button#nav-toggle:focus {
  background-color: #f3976c !important;
}

/*--------------------------------------------------------------------------*/
.navbar-nav > li > a {
  border-radius: 5px;
  color: #1f1f1f !important;
}

.navbar-nav > li > a:hover {
  background: #f3976c;
}

.navbar-nav > li > a:focus {
  background: #f3976c;
}

/*--------------------------------------------------------------------------*/
h1#index-html {
  background-color: rgba(43, 43, 43, 0.65);
  border-radius: 10px;
  padding: 10px 5px;
  color: #f5a884 !important;
}

/*--------------------------------------------------------------------------*/
a#cta-hero-1, a#cta-hero-2 {
  background-color: rgba(0, 0, 0, 0.65);
  color: #f5a884 !important;
}

a#cta-hero-1:hover, a#cta-hero-2:hover {
  color: rgba(0, 0, 0, 0.75) !important;
  background-color: #f3976c !important;
}

a#cta-hero-1:focus, a#cta-hero-2:focus {
  color: rgba(0, 0, 0, 0.75) !important;
  background-color: #f7b89b !important;
}

/*--------------------------------------------------------------------------*/
.col-sm-4 .text-center {
  font-size: 16px;
}

/*--------------------------------------------------------------------------*/
blockquote {
  background-color: #404040;
  border-radius: 2px 50px 5px 50px;
  margin: 20px;
  padding: 15px;
}

#citation-text {
  font-size: 16px;
  color: #f3976c !important;
}

.quote-symbol {
  font-size: 50px;
}

#footer-citation {
  color: #fff;
}

/*--------------------------------------------------------------------------*/
.col-sm-12 h2.collaboration-1 {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: rgba(43, 43, 43, 0.7);
  color: #f5a884 !important;
}

.col-sm-12 p.collaboration-2 {
  background-color: rgba(43, 43, 43, 0.65);
  font-size: 16px;
  padding: 20px;
  padding: 30px 20px;
  border-radius: 10px;
}

.col-sm-12 p.collaboration-2 a {
  color: #f3976c !important;
  text-decoration: none !important;
  border-radius: 30px;
  padding: 10px 10px;
  background-color: rgba(43, 43, 43, 0.65) !important;
}

.col-sm-12 p.collaboration-2 a:hover {
  background-color: #f3976c !important;
  color: #1a1a1a !important;
}

.col-sm-12 p.collaboration-2 a:focus {
  background-color: #f3976c !important;
  color: #1a1a1a !important;
}

/*--------------------------------------------------------------------------*/
.col-sm-6 .h3-portfolio {
  font-size: 20px;
}

.col-sm-6 .p-portfolio {
  font-size: 16px;
}

/*--------------------------------------------------------------------------*/
.h2-final {
  background-color: rgba(38, 38, 38, 0.75);
  border-radius: 10px;
  padding: 5px;
  color: #f9c9b3 !important;
  font-size: 24px !important;
}

/*--------------------------------------------------------------------------*/
.col-sm-12 .h2-footer {
  font-size: 18px;
  color: #333333 !important;
  border-radius: 10px;
}

.coordonnees {
  font-size: 16px;
  margin: 30px;
  color: #404040 !important;
}

/*--------------------------------------------------------------------------*/
a.social {
  padding: 10px !important;
}

.col-sm-3 .text-center .fa {
  color: #262626 !important;
  font-size: 18px !important;
}

.col-sm-3 .text-center .fa:hover {
  color: #1a1a1a !important;
  font-size: 22px !important;
}

.col-sm-3 .text-center .fa:focus {
  color: #f3976c;
  font-size: 22px !important;
  background-color: #000;
}

/*===================================================================================*/
#bloc-6 {
  background-color: #f7b89b !important;
}

.col-sm-12 .h1-bloc-6 {
  color: rgba(13, 13, 13, 0.85) !important;
  margin-bottom: 20px;
}

.col-sm-12 .p-bloc-6 {
  font-size: 16px;
  color: #cccccc !important;
  background-color: rgba(26, 26, 26, 0.75) !important;
  border-radius: 10px;
}

.button-envoyer {
  font-size: 20px !important;
  color: #404040 !important;
  border: 1px solid gray;
}

.button-envoyer:hover {
  background-color: #4d4d4d !important;
  color: #f3976c !important;
}

.button-envoyer:focus {
  background-color: #4d4d4d !important;
  color: #f3976c !important;
}
